services:
  kafka:
    image: confluentinc/cp-kafka:8.1.0
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      # KRaft required settings:
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: "1"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"

      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"

      KAFKA_OFFSET_TOPIC_REPLICATION_FACTOR: "1"
    # KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9092,CONTROLLER://kafka:9093"

    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - internal

  mastodon-fetcher:
    build:
      context: ../..
      dockerfile: mastodon-fetcher/Dockerfile
    image: infra-mastodon-fetcher:dev
    container_name: mastodon-fetcher
    environment:
      FETCH_INTERVAL_MS: "5000"
      FETCHER_API_PORT: "8001"
      FETCHER_AUTO_START: "true"
    depends_on:
      kafka:
        condition: service_healthy #service_started
    volumes:
      - ../../mastodon-fetcher:/app
      - ../../shared:/shared
      - ./secrets:/secrets:ro
    networks:
      - internal
  
  metrics-processor:
    build:
      context: ../..
      dockerfile: metrics-processor/Dockerfile
    image: infra-metrics-processor:dev
    container_name: metrics-processor
    volumes:
      - ../../metrics-processor:/app
      - ../../shared:/shared
    environment:
      PROCESSOR_API_PORT: "8002"
      PROCESSOR_AUTO_START: "true"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - internal
  
  dashboard:
    build:
      context: ../..
      dockerfile: dashboard/Dockerfile
    image: infra-dashboard:dev
    container_name: dashboard
    ports:
      - "58005:8000"
    volumes:
      - ../../dashboard:/app
      - ../../shared:/shared
    environment:
      FETCHER_API_URL: "http://mastodon-fetcher:8001"
      PROCESSOR_API_URL: "http://metrics-processor:8002"
    networks:
      - internal

  llm-server:
    hostname: llm-server
    build:
      context: ../../llm-server
    image: infra-llm-server:dev
    container_name: llm-server
    networks:
      - internal

networks:
  internal:
    driver: bridge
