global:
  imagePullPolicy: IfNotPresent

kafka:
  image: confluentinc/cp-kafka:8.1.0
  replicaCount: 1
  service:
    ports:
      client: 9092
      controller: 9093
  env:
    KAFKA_PROCESS_ROLES: "broker,controller"
    KAFKA_NODE_ID: "1"
    KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
    KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
    KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
    KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
    KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
    KAFKA_OFFSET_TOPIC_REPLICATION_FACTOR: "1"

mastodonFetcher:
  image: infra-mastodon-fetcher:dev
  replicaCount: 1
  service:
    port: 8001
  env:
    KAFKA_PORT: "9092"
    FETCH_INTERVAL_MS: "5000"
    FETCHER_API_PORT: "8001"
    FETCHER_AUTO_START: "true"

metricsProcessor:
  image: infra-metrics-processor:dev
  replicaCount: 1
  service:
    port: 8002
  env:
    KAFKA_PORT: "9092"
    PROCESSOR_API_PORT: "8002"
    PROCESSOR_AUTO_START: "true"
    OLLAMA_SERVER_URL: "llm-server"
    OLLAMA_SERVER_PORT: "11434"
    OLLAMA_MODEL: "qwen3:0.6b"

llmServer:
  image: infra-llm-server:dev
  replicaCount: 1
  service:
    port: 11434

dashboard:
  image: infra-dashboard:dev
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8000
  env:
    KAFKA_PORT: "9092"
    KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
    FETCHER_API_URL: "http://mastodon-fetcher:8001"
    PROCESSOR_API_URL: "http://metrics-processor:8002"
